<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Sign Up</title>

        <link rel="stylesheet" href="../public/css/sign-up.css">
        
    </head>

    <body>

        <header>
            <label for="signupforuser" class="signupforuser">Sign Up
            </label>
            <div id="inputvaluesforuser">
                <input type="text" class="nameforaccount" name="name" placeholder="NAME">
                <input type="text" class="surnameforaccount" name="surname" placeholder="SURNAME">
                <input type="date" class="birthdateforaccount" name="birth-date" placeholder="BIRTH DATE">
                <input type="text" class="addressforaccount" name="address" placeholder="ADDRESS">
                <input type="email" class="emailforaccount" name="email" placeholder="E-MAIL">
                <input type="password" class="passwordforaccount" name="password" placeholder="PASSWORD">
            </div>
            <button class="doctor">DOCTOR</button>
            <button class="patient">PATIENT</button>
            <button class="user">USER</button>

        </header>

    </body>
</html>